@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');

@font-face {
    font-family: 'Aleo';
    src: url('../fonts/Aleo-Regular.woff2') format('woff2'),
        url('../fonts/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}