.ba-tourist-title {
	text-align: center;
	margin-bottom: 94px;
font-size: 36px;
font-weight: 400;
line-height: 26px;
}

.ba-inner-box {
	display: flex;
	background: #333333;
	padding: 50px 54px 50px 0;
	&__img {
		margin-right: 60px;
		width: 100%;
	}

	&__text {
		span {
			text-transform: uppercase;
			margin-bottom: 33px;
		}
	}
}